// Colors
// $color-primary: #166af2;
$color-primary: #336699;
$color-gray-dark: #777;
$color-white: #fff;
$color-offwhite: #e8eeef;
$color-black: #000;
$color-offblack: #1c1e26;

// Font sizes
$font-size-default: 1.6rem;