body {
    background-color: $color-offblack;
}

h1 {
    color: white;
    font-size: 3rem;
    text-shadow: rgba(40, 40, 40, .6) .1rem 0 1rem;
    padding-left: 1rem;
}

a {
    text-decoration: none;
}

.text {
    color: white;
    text-align: center;
    width: 85vw;
    margin: 10rem auto 1rem auto;
    font-size: 7rem;
    text-shadow: rgba(40, 40, 40, .6) .1rem 0 1rem;
}

.display {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1452784444945-3f422708fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    overflow: hidden;
}

.container {
    position: relative;
}